**/**/node_modules
**/**/docs
**/**/.tmp
**/**/bower_components
**/**/test/bower_components
**/**/app/assets/css/base/_all-sprites.scss
**/**/*.zip
**/*.zip
**/**/yarn-error.log
**/**/.DS_Store
**/**/dist

