.iuh__breadcrumb {
  position: relative;
  z-index: 9;
  text-transform: uppercase;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    position: absolute;
    margin: px-rem(15) auto px-rem(15);
    @include media(pc) {
      padding-left: px-rem(192);
    }
    @include media(sp) {
      padding-left: px-rem(0);
      margin: px-rem(30) auto px-rem(5);
    }
  }

  li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2px;

    &.active {
      span {
        font-size: px-rem(12);
        line-height: px-rem(18);
        color: $color-main;
        font-weight: 900;
        @include media(sp) {
          font-size: px-rem(10);
          line-height: px-rem(16);
        }
      }
    }

    i {
      font-size: px-rem(8);
    }

    a {
      font-size: px-rem(12);
      line-height: px-rem(18);
      color: #000;
      font-weight: 400;
      @include media(sp) {
        font-size: px-rem(10);
        line-height: px-rem(16);
      }
      &:hover {
        color: $color-main;
        font-weight: 550;
      }
    }
  }
}
