.iFrameMap {
  .map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  iframe {
    width: 100% !important;
    height: 450px;
  }
}

.form-control {
  font-family: $font-barlow;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 11.5px);
  padding: .375rem 1rem;
  font-size: px-rem(16);
  color: #444;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ebebeb;
  background-color: #ebebeb;
  border-radius: 1rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.group_contact {
  fieldset {
    padding: 0 15px;
    border: none;
    width: 100%;
  }

  input {
    height: 45px;
    padding: 0px 15px;

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder {
      color: #444;
    }
  }
  
  .content-area {
    min-height: 100px;
    padding: 10px 15px;
    border-radius: 10px !important;
    resize: none;
  }

  input,
  textarea, select {
    border-color: #ebebeb;
    background-color: #ebebeb;
    font-size: px-rem(16);
    color: #444;
    border-radius: 10px !important;
    margin-bottom: 15px;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  input::-moz-placeholder,
  textarea::-moz-placeholder,
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #444;
  }

  input:focus {
    border-color: #ebebeb;
    background-color: #ebebeb;
    box-shadow: none;
  }

  textarea {
    &:focus {
      border-color: #ebebeb;
      background-color: #ebebeb;
      box-shadow: none;
    }

    margin-bottom: 15px;
    border-radius: 10px;
  }
}
.check_box {
  display: block;
  margin-bottom: px-rem(10);

  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  label {
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      -webkit-appearance: none;
      background-color: transparent;
      border: 2px solid $color-main-blue;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 8px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
    }
  }

  input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 7px;
    width: 6px;
    height: 12px;
    border: solid $color-main-blue;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.custom_radio {
  margin-bottom: px-rem(10);

  input[type="radio"] {
    display: none;

    +label {
      position: relative;
      display: inline-block;
      padding-left: 1.5em;
      margin-right: 2em;
      cursor: pointer;
      line-height: 1em;
      transition: all 0.3s ease-in-out;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1em;
        height: 1em;
        text-align: center;
        color: #ccc;
        font-family: Times;
        border-radius: 50%;

        transition: all .3s ease;
      }

      &:before {

        transition: all .3s ease;
        box-shadow: inset 0 0 0 0.2em #ccc, inset 0 0 0 1em #ccc;
      }

      &:hover:before {

        transition: all .3s ease;
        box-shadow: inset 0 0 0 0.3em #ccc, inset 0 0 0 1em #c6c6c6;
      }
    }

    &:checked+label:before {

      transition: all .3s ease;
      box-shadow: inset 0 0 0 0.2em #ccc, inset 0 0 0 1em $color-main-blue;
    }
  }
}

.custom_typefile {
  [type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
    display: none;
  }

  [type="file"]+label {
    background: $color-main-blue;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;

    &:hover {
      background-color: darken($color-main-blue, 10%);
    }

    &.btn-1 {
      background-color: $color-main-blue;
      box-shadow: 0 6px darken($color-main-blue, 10%);
      transition: none;

      &:hover {
        box-shadow: 0 4px darken($color-main-blue, 10%);
        top: 2px;
      }
    }



  }

}

.wrapcontactin {
  position: relative;
  padding: px-rem(70) px-rem(100);
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -190px;
  display: flex;
  flex-wrap: wrap;
  @include media(sp) {
      padding: px-rem(40) px-rem(10);
  }
  .col-left{
    width: 50%;
    @include media(sp){
      width: 100%;
    }
  }
  .col-right{
    width: 50%;
    @include media(sp){
      width: 100%;
    }
  }
  .logo-wrapper {
    margin-bottom: 30px;
    display: block;
    text-align: left;
    max-width: px-rem(250);
    @include media(sp){
      text-align: center;
      max-width: initial;
    
    }
  }

  p {
    
    font-size: px-rem(16);
    color: #6e7874;
    display: block;
    margin-bottom: 30px;
  }

  .time_work {
    width: 100%;

    .itemfooter {
      display: flex;
      flex-direction: column;
    }

    .r {
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      align-items: center;

      .fa,
      .fab,
      .fas {
        width: 30px;
        text-align: left;
        font-size: px-rem(16);
        color: #6e7874;
        display: block;
        height: 24px;
        line-height: 24px;
      }

      span {
        display: block;
        width: calc(100% - 30px);
        font-size: px-rem(16);
        color: #6e7874;
      }

      a {
        display: block;
        width: calc(100% - 30px);
        -webkit-width: calc(100% - 30px);
        -moz-width: calc(100% - 30px);
        -o-width: calc(100% - 30px);
        -os-width: calc(100% - 30px);
        float: left;
        font-size: px-rem(16);
        color: #6e7874;

        &:hover {
          color: $color-main-blue;
        }
      }
    }
  }

  h4 {
    font-size: px-rem(24);
    color: #444;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .wrapcontactin {
    padding: 40px 15px;
  }
}



@media (min-width: 1200px) {
  .wrapcontactin p {
    max-width: 90%;
  }
}

