.profile-detaill {
  margin-top: px-rem(100);

  @include media(sp) {
    margin-top: px-rem(60);
  }

  .btn-save-cancel {
    display: flex;
  }

  &__information {
    display: flex;
    flex-direction: row;
    gap: px-rem(50);

    @include media(sp) {
      flex-direction: column;
    }
  }

  &__photo {
    width: 30%;
    position: relative;
    cursor: pointer;

    @include media(sp) {
      width: 100%;
    }

    >div {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 100%;
      display: block;
      overflow: hidden;
      background: linear-gradient(90deg, #fd0001 0%, #991a4d 50%, #353398 100%);
      border-radius: 6%;
    }

    p {
      width: 90%;
      height: 90%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      max-height: 90%;
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    img {
      position: absolute;
      width: 100%;
      object-fit: cover;
      height: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .upload-image {
      margin: 15px 0 0;
      position: relative;
      display: block;
    }

    @include hover {
      .icon-sns {
        bottom: 0;
        opacity: 1;
      }
    }
  }

  &__inforShow {
    width: 60%;
    .check_box{
      label{
        display: flex;
        align-items: center;
      }
      input:checked+label:after {
        top: 45%;
        transform: translateY(-50%) rotate(45deg);
      }
    }
    @include media(sp) {
      width: 100%;
    }

    dl {
      display: flex;
      width: 100%;

      dt,
      dd {
        font-size: px-rem(20);
        margin-bottom: px-rem(10);
      }

      dt {
        width: 25%;
        line-height: 1.3;

        @include media(sp) {
          width: 33%;
        }
      }

      dd {
        line-height: 1.5;
        flex: 1;

        &.is-active {
          p {
            display: none;
          }
        }

        &:hover {
          p {
            i {
              opacity: 1;

            }
          }
        }

        fieldset {
          display: none;
        }

        p {
          i {
            display: inline-block;
            opacity: 0;

            @include media(sp) {
              opacity: 1;
              font-size: 75%;
              margin: 0 0 0 3%;
            }
          }
        }
      }
    }
  }

  .icon-sns {
    justify-content: center;
    position: absolute;
    padding: 0.75rem 1rem;
    width: 100%;
    bottom: -5%;
    left: 0;
    opacity: 0;
    @include transition;
    background: rgba(255, 255, 255, 0.4);

    @include media(sp) {
      opacity: 1;
      bottom: 0;
    }

    li {
      &:not(:first-child) {
        margin-left: px-rem(30);
      }
    }
  }

  &__experience {
    margin-top: px-rem(60);
    margin-bottom: px-rem(150);
    position: relative;

    @include media(sp) {
      margin-bottom: px-rem(80);
    }
    &__add_new{
      display: flex;
      flex-direction: column;
      font-size: px-rem(20) !important;
      -webkit-text-stroke: 0 !important;
      width: 90px !important;
      height: 90px !important;
      margin-left: auto;
      margin-right: auto;
      color: $color-main !important;
      border: 2px solid #8d99ac;
      background: #ffffff !important;

      i {
        font-size: px-rem(25);
        margin-bottom: 0;
      }
    }
    .btn_add__experience {
      position: absolute;
      top: 3%;
      right: 0;
      margin: 0;
      z-index: 3;
      border-radius: 50%;
      width: px-rem(80);
      height: px-rem(80);
      display: flex;
      flex-direction: column;
      font-size: px-rem(14);
      color: $color-main;

      i {
        font-size: px-rem(25);
        margin-bottom: px-rem(5);
      }

      @include media(sp) {
        border-radius: 10px;
        height: auto;
        font-size: 0;
        right: inherit;
        transform: translateX(-50%);
        top: 24.5%;
        width: auto;
        left: 50%;

        i {
          margin-bottom: 0;
          font-size: px-rem(15);
        }
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        @include media(sp) {
          display: none;
        }

      }

      &::before {
        width: px-rem(12);
        height: px-rem(12);
        border-radius: 50%;
        background: #8d99ac;
        border: 1px solid #8d99ac;
        box-shadow: inset 0px 0px 0px 1px white;
        top: 143%;
      }

      &::after {
        background: #8d99ac;
        width: 1px;
        height: 55%;
        z-index: -1;
        top: 100%;

        @include media(sp) {}
      }


    }

    &_content {
      position: relative;

      .slider__arrows {
        position: absolute;
        width: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: px-rem(74);

        @include media(sp) {
          justify-content: center;
          margin-top: px-rem(20);
          display: none;
        }

        .arrow-icon {
          width: px-rem(60);
          height: px-rem(60);
          background: $color-main;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin: 0 px-rem(10);

          @include media(sp) {
            width: px-rem(40);
            height: px-rem(40);
          }

          @include media(pcOnly) {
            &:hover {
              background: linear-gradient(90deg, #fd0001 0%, #991a4d 50%, #353398 100%);

              i {
                color: #fff;
              }
            }
          }

          i {
            color: #fff;
            font-size: px-rem(25);
          }
        }

      }
    }

    .tabs {
      position: relative;
      margin: 0px;
      padding: 0;

      // display: flex;
      // gap: px-rem(50);
      // justify-content: space-between;
      &::before {
        content: '';
        position: absolute;
        border: 0.5px solid $color-main;
        width: 100%;
        height: 1px;
        bottom: 6px;
        z-index: -1;
        left: 0%;

      }

      .slick-slide {
        margin-right: px-rem(30);
        position: relative;
        width: px-rem(120);

        @include media(sp) {
          margin-right: px-rem(10);
          width: px-rem(80);
        }

        &.slick-current {
          .tab-link {
            p {
              background: $color-main;
              color: #fff;
              -webkit-text-stroke: 0 $color-main;
            }

            &::before {
              background: $color-main;
              box-shadow: inset 0px 0px 0px 1px white;
              border: 1px solid $color-main;
            }
          }
        }
      }

      .tab-link {
        padding-bottom: px-rem(30);

        p {
          font-weight: bold;
          background: #f4f4f4;
          color: #fff;
          display: flex;
          padding: 0;
          cursor: pointer;
          -webkit-text-stroke: px-rem(1.5) $color-main;
          font-size: px-rem(40);
          border-radius: 50%;
          width: px-rem(120);
          height: px-rem(120);
          text-align: center;
          justify-content: center;
          align-items: center;
          font-style: italic;

          @include media(sp) {
            font-size: px-rem(25);
            width: px-rem(80);
            height: px-rem(80);
          }
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);

        }

        &::before {
          width: px-rem(12);
          height: px-rem(12);
          border-radius: 50%;
          border: 1px solid $color-main;
          background: #fff;
        }

        &::after {
          background: $color-main;
          width: 1px;
          height: 50%;
          z-index: -1;

          @include media(sp) {}
        }


      }
    }

    .tab-content {
      margin-top: px-rem(100);
      display: none;
      padding: px-rem(0) px-rem(20) px-rem(50);
      border: 3px solid $color-main;
      box-shadow: 2px 4px 10px 0px $color-main;

      @include media(sp) {
        margin-top: px-rem(60);
      }

      .element-title {
        background: #fff;
        position: relative;
        margin: px-rem(-30) 0 px-rem(12) px-rem(-12);
        padding: px-rem(10) px-rem(20) px-rem(20) px-rem(12);
        display: inline-block;
      }

      .resume-content {
        position: relative;
        padding: px-rem(0) px-rem(25);

        &:not(:last-child) {
          margin-bottom: px-rem(35);

          @include media(sp) {
            margin-bottom: px-rem(20);
          }
        }

        @include media(sp) {
          padding: px-rem(0) px-rem(0);
        }

        span.date {
          color: $color-main;
          font-size: px-rem(20);
          margin-bottom: px-rem(15);
          display: block;

          @include media(sp) {
            font-size: px-rem(14);
          }

          i {
            padding-right: px-rem(5);
          }
        }

        h6 {
          font-size: px-rem(24);
          font-weight: bold;
          color: $color-main;

          @include media(sp) {
            font-size: px-rem(18);
          }
        }
      }

      p {
        font-size: px-rem(18);

        @include media(sp) {
          font-size: px-rem(14);
        }

        &:not(:last-child) {
          margin-bottom: px-rem(10);
        }
      }

      &.current {
        display: inherit;
      }
    }
  }


}

.edit-profile-information {
  display: inline-block;
  cursor: pointer;
  font-size: 90%;

  &:hover {
    i {
      color: $color-main;
    }
  }
}

.model-open {
  overflow: hidden;

  .model-profile {
    display: block;
  }
}

.model-profile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  display: none;

  .model-profile-bg {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .l-inner {


    margin-left: 3%;
    margin-right: 3%;

    @include media(pcOnly) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .experience_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;

    @include media(sp) {
      flex-direction: column;
    }
  }

  .profile-content {
    position: relative;
    padding: 0;
    margin: 0;
    top: 15%;
    max-height: 70%;
    display: none;
    overflow: auto;

    &.is-opened {
      display: block;
    }

    h2 {
      margin-bottom: -2.5rem;
    }

    fieldset {
      margin-bottom: px-rem(15);

      textarea {
        height: px-rem(150);
      }
    }

    .group_contact {
      margin-top: px-rem(30);

      input {
        margin-bottom: 0;
      }

    }

    dd {
      cursor: pointer;
    }

    .l-inner {
      background: #fff;
      padding-top: 2%;
      padding-bottom: 6%;

      @include media(sp) {
        padding-top: 9%;
      }

      .element-title {
        @include media(sp) {
          margin: 6% 0;
        }

      }
    }
  }
}
