<section class="l-financial-about js-animate">
  <div class="l-inner">
    <div class="l-financial-aboutLeft">
      <h2 class="element-title">khoa tài chính - kế toán</h2>
      <div class="content">
        Chào mừng quý thầy cô, quý phụ huynh cùng các em sinh viên, học viên
        truy cập tới trang thông tin của Phòng Tài chính - Kế toán, Trường Ðại
        học Công nghiệp TP. Hồ Chí Minh. Các thông tin góp ý, liên hệ hỗ trợ xin
        vui lòng sử dụng chức năng liên hệ trên trang web hoặc liên hệ trực tiếp
        phòng Tài chính - Kế toán (tầng trệt nhà E, trường Ðại học Công nghiệp
        TP. Hồ Chí Minh; điện thoại: 0283.8940.390 – 124, 125; email:
        ptckt@iuh.edu.vn).
      </div>
      <div class="l-financial-btn"><a class="btn-view" href="#">Xem chi tiết</a></div>
    </div>
  </div>
  <div class="l-financial-aboutPicture">
    <picture>
      <source media="(min-width:767px)" srcset="assets/images/financial/deco.jpg">
      <img src="assets/images/financial/deco.jpg" alt="Khoa Tai chinh ke toan" style="width:auto;">
    </picture>
  </div>
</section>
