<div class="l-mv financial-mv" data-module="SwiperFull">
  <div class="l-mv__cont">
    <div class="swiper swiper_slidefull">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="bannerImg">
            <div class="left">
              <img
                src="https://ptckt2.iuh.edu.vn/upload/images/newsbox/Van-nghe-2019-giai-nhat.jpg"
                alt="Slider 1"
              />
            </div>
            <div class="right">
              <img
                src="https://ptckt2.iuh.edu.vn/upload/images/newsbox/Van-nghe-2019-giai-nhat.jpg"
                alt="Slider 1"
              />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bannerImg">
            <div class="left">
              <img
                src="https://ptckt.iuh.edu.vn/upload/images/IUH2.jpg"
                alt="Slider 1"
              />
            </div>
            <div class="right">
              <img
                src="https://ptckt.iuh.edu.vn/upload/images/IUH2.jpg"
                alt="Slider 1"
              />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bannerImg">
            <div class="left">
              <img
                src="https://ptckt.iuh.edu.vn/upload/images/newsbox/tapthe.jpg"
                alt="Slider 1"
              />
            </div>
            <div class="right">
              <img
                src="https://ptckt.iuh.edu.vn/upload/images/newsbox/tapthe.jpg"
                alt="Slider 1"
              />
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bannerImg">
            <div class="left">
              <img
                src="https://ptckt2.iuh.edu.vn/upload/images/newsbox/Van-nghe-2019-giai-nhat.jpg"
                alt="Slider 1"
              />
            </div>
            <div class="right">
              <img
                src="https://ptckt2.iuh.edu.vn/upload/images/newsbox/Van-nghe-2019-giai-nhat.jpg"
                alt="Slider 1"
              />
            </div>
          </div>
        </div>
      </div>
     
    </div>
    <div class="swiper swiper_slidefullThums">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="l-inner">
            <div class="titleH2">Lorem Ipsum is simply 1</div>
            <div class="titleH3">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </div>
          </div>
          <div class="listIcon">
            <dl>
              <dt>
                <a href="tel:0327421742">032 742 1742</a>
              </dt>
              <dd>
                <i class="fa-solid fa-phone"></i>
              </dd>
            </dl>
            <dl>
              <dt>
                <a href="mailto:dhcn@iuh.edu.vn">dhcn@iuh.edu.vn</a>
              </dt>
              <dd>
                <i class="fa-solid fa-envelope"></i>
              </dd>
            </dl>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="l-inner">
            <div class="titleH2">Lorem Ipsum is simply 2</div>
            <div class="titleH3">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </div>
          </div>
          <div class="listIcon">
            <dl>
              <dt>
                <a href="tel:0327421742">032 742 1742</a>
              </dt>
              <dd>
                <i class="fa-solid fa-phone"></i>
              </dd>
            </dl>
            <dl>
              <dt>
                <a href="mailto:dhcn@iuh.edu.vn">dhcn@iuh.edu.vn</a>
              </dt>
              <dd>
                <i class="fa-solid fa-envelope"></i>
              </dd>
            </dl>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="l-inner">
            <div class="titleH2">Lorem Ipsum is simply 3</div>
            <div class="titleH3">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </div>
          </div>
          <div class="listIcon">
            <dl>
              <dt>
                <a href="tel:0327421742">032 742 1742</a>
              </dt>
              <dd>
                <i class="fa-solid fa-phone"></i>
              </dd>
            </dl>
            <dl>
              <dt>
                <a href="mailto:dhcn@iuh.edu.vn">dhcn@iuh.edu.vn</a>
              </dt>
              <dd>
                <i class="fa-solid fa-envelope"></i>
              </dd>
            </dl>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="l-inner">
            <div class="titleH2">Lorem Ipsum is simply 3</div>
            <div class="titleH3">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </div>
          </div>
          <div class="listIcon">
            <dl>
              <dt>
                <a href="tel:0327421742">032 742 1742</a>
              </dt>
              <dd>
                <i class="fa-solid fa-phone"></i>
              </dd>
            </dl>
            <dl>
              <dt>
                <a href="mailto:dhcn@iuh.edu.vn">dhcn@iuh.edu.vn</a>
              </dt>
              <dd>
                <i class="fa-solid fa-envelope"></i>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

{#
<div class="l-mv">
  <div class="swiper swiperSlidefullO1">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiperContent">
          <img src="https://picsum.photos/id/103/1600/900" alt="Slider 1" />
          <div class="swiperContentBox">
            <div class="titleH2">Lorem Ipsum is simply dummy</div>
            <div class="titleH3">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiperContent">
          <img src="https://picsum.photos/id/123/1600/900" alt="Slider 1" />
          <div class="swiperContentBox">
            <div class="titleH2">Lorem Ipsum is simply dummy</div>
            <div class="titleH3">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiperContent">
          <img src="https://picsum.photos/id/12/1600/900" alt="Slider 1" />
          <div class="swiperContentBox">
            <div class="titleH2">Lorem Ipsum is simply dummy</div>
            <div class="titleH3">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="swiperContent">
          <img src="https://picsum.photos/id/10/1600/900" alt="Slider 1" />
          <div class="swiperContentBox">
            <div class="titleH2">Lorem Ipsum is simply dummy</div>
            <div class="titleH3">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<div class="l-mv">
  <div class="swiper swiperSlidefullO2">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="https://picsum.photos/600/300?random=1" alt="Slider 1" />
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/600/300?random=2" alt="Slider 1" />
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/600/300?random=3" alt="Slider 1" />
      </div>
      <div class="swiper-slide">
        <img src="https://picsum.photos/600/300?random=5" alt="Slider 1" />
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<div class="l-mv">
  <div class="swiper swiperSlidefullO3">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="assets/images/financial/banner.jpg" alt="Slider 1" />
      </div>
      <div class="swiper-slide">
        <img src="assets/images/financial/banner.jpg" alt="Slider 1" />
      </div>
      <div class="swiper-slide">
        <img src="assets/images/financial/banner.jpg" alt="Slider 1" />
      </div>
      <div class="swiper-slide">
        <img src="assets/images/financial/banner.jpg" alt="Slider 1" />
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
#}
