<section class="l-financial-bar js-animate">
  <div class="l-inner">
    <div class="l-financialList">
      <div class="l-financial-barBox">
        <div class="icon icon1"></div>
        <div class="title"><a href="#">thuế thu nhập cá nhân</a></div>
        <div class="contents">
          Thuế TNCN là một trong những nguồn thu quan trọng của ngân sách. Là
          nghĩa vụ và quyền lợi của mỗi công dân nhằm góp phần vào sự phát triển
          của đất nước.
        </div>
        <a class="btn-bar" href="#">
          <i class="fas fa-angle-right"></i>
        </a>
      </div>
      <div class="l-financial-barBox">
        <div class="icon icon2"></div>
        <div class="title"><a href="#">tra cứu học phí</a></div>
        <div class="contents">
          Chào mừng quý thầy cô, quý phụ huynh cùng các em sinh viên, học viên truy cập tới trang thông tin của Phòng Tài chính Kế toán, Trường Ðại học Công nghiệp 
        </div>
        <a class="btn-bar" href="#">
          <i class="fas fa-angle-right"></i>
        </a>
      </div>
      <div class="l-financial-barBox">
        <div class="icon icon3"></div>
        <div class="title"><a href="#">download biểu mẫu</a></div>
        <div class="contents">
          Chào mừng quý thầy cô, quý phụ huynh cùng các em sinh viên, học viên truy cập tới trang thông tin của Phòng Tài chính Kế toán, Trường Ðại học Công nghiệp 
        </div>
        <a class="btn-bar" href="#">
          <i class="fas fa-angle-right"></i>
        </a>
      </div>
    </div>
   
  </div>
</section>
