<section class="l-financial-news js-animate" id="financialNews" data-module="FinancialNews">
  <div class="l-inner ">
    <h2 class="element-title">
      TIN TỨC SỰ KIỆN
    </h2>
    <div class="l-financial-news__list">
      <div class="js-sliderFinancialNews" >
        <div class="financialNews-box">
          <div class="financialNews-img">
            <img src="https://picsum.photos/500/700" alt="Đánh giá chất lượng cấp chương trình lần thứ 116 ">
          </div>
          <div class="financialNews-info">
            <div class="financialNews-inner">
              <div class="financialNews-ttl">Đánh giá chất lượng cấp chương trình lần thứ 116 </div>
            </div>
            <div class="financialNews-txt">
              Từ ngày 5/6/2018 đến ngày 7/6/2018, Trường Đại học Công nghiệp Thành phố Hồ Chí Minh (IUH) phối hợp với Mạng lưới các trường đại học Đông Nam Á (AUN)
            </div>
            <a class="event-link" href="#">Xem chi tiết <i class="fa-solid fa-circle-chevron-right"></i></a>
          </div>
          
        </div>
        <div class="financialNews-box">
          <div class="financialNews-img">
            <img src="https://picsum.photos/500/700" alt="Đánh giá chất lượng cấp chương trình lần thứ 116 ">
          </div>
          <div class="financialNews-info">
            <div class="financialNews-inner">
              <div class="financialNews-ttl">Đánh giá chất lượng cấp chương trình lần thứ 116 </div>
            </div>
            <div class="financialNews-txt">
              Từ ngày 5/6/2018 đến ngày 7/6/2018, Trường Đại học Công nghiệp Thành phố Hồ Chí Minh (IUH) phối hợp với Mạng lưới các trường đại học Đông Nam Á (AUN) Trường Đại học Công nghiệp Thành phố Hồ Chí Minh (IUH) phối hợp với Mạng lưới các trường đại học Đông Nam Á (AUN)
            </div>
            <a class="event-link" href="#">Xem chi tiết <i class="fa-solid fa-circle-chevron-right"></i></a>
          </div>
        </div>
        <div class="financialNews-box">
          <div class="financialNews-img">
            <img src="https://picsum.photos/500/700" alt="Đánh giá chất lượng cấp chương trình lần thứ 116 ">
          </div>
          <div class="financialNews-info">
            <div class="financialNews-inner">
              <div class="financialNews-ttl">Đánh giá chất lượng cấp chương trình lần thứ 116 </div>
            </div>
            <div class="financialNews-txt">
              Từ ngày 5/6/2018 đến ngày 7/6/2018, Trường Đại học Công nghiệp Thành phố Hồ Chí Minh (IUH) phối hợp với Mạng lưới các trường đại học Đông Nam Á (AUN)
            </div>
            <a class="event-link" href="#">Xem chi tiết <i class="fa-solid fa-circle-chevron-right"></i></a>
          </div>
          
        </div>
        <div class="financialNews-box">
          <div class="financialNews-img">
            <img src="https://picsum.photos/500/700" alt="Đánh giá chất lượng cấp chương trình lần thứ 116 ">
          </div>
          <div class="financialNews-info">
            <div class="financialNews-inner">
              <div class="financialNews-ttl">Đánh giá chất lượng cấp chương trình lần thứ 116 </div>
            </div>
            <div class="financialNews-txt">
              Từ ngày 5/6/2018 đến ngày 7/6/2018, Trường Đại học Công nghiệp Thành phố Hồ Chí Minh (IUH) phối hợp với Mạng lưới các trường đại học Đông Nam Á (AUN)
            </div>
            <a class="event-link" href="#">Xem chi tiết <i class="fa-solid fa-circle-chevron-right"></i></a>
          </div>
          
        </div>
      </div>
      <div class="slider__arrows">
        <div class="arrow-icon arrow--prevFnews"><i class="fas fa-angle-left"></i></div>
        <div class="arrow-icon arrow--nextFnews"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>
  </div>
</section>