<section class="l-financial-notify js-animate">
  <div class="l-inner">
      <h2 class="element-title">thông báo sự kiện</h2>
    <div class="fNnotifyItems">
      <div class="item">
        <div class="date">thứ ba<br />02/06/2023</div>
        <div class="content">
          <div class="content_ttl">
            <a href="#"> Thông Báo Về Việc Di Chuyển Phòng Tài Chính Kế Toán</a>
          </div>
          <div class="content_btn">
            <a class="event-link" href="#">Xem thêm </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="date">thứ ba<br />02/06/2023</div>
        <div class="content">
          <div class="content_ttl">
            <a href="#"> Thông Báo Về Việc Di Chuyển Phòng Tài Chính Kế Toán</a>
          </div>
          <div class="content_btn">
            <a class="event-link" href="#">Xem thêm </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="date">thứ ba<br />02/06/2023</div>
        <div class="content">
          <div class="content_ttl">
            <a href="#"> Thông Báo Về Việc Di Chuyển Phòng Tài Chính Kế Toán</a>
          </div>
          <div class="content_btn">
            <a class="event-link" href="#">Xem thêm </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="date">thứ ba<br />02/06/2023</div>
        <div class="content">
          <div class="content_ttl">
            <a href="#"> Thông Báo Về Việc Di Chuyển Phòng Tài Chính Kế Toán</a>
          </div>
          <div class="content_btn">
            <a class="event-link" href="#">Xem thêm </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="date">thứ ba<br />02/06/2023</div>
        <div class="content">
          <div class="content_ttl">
            <a href="#"> Thông Báo Về Việc Di Chuyển Phòng Tài Chính Kế Toán</a>
          </div>
          <div class="content_btn">
            <a class="event-link" href="#">Xem thêm </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="date">thứ ba<br />02/06/2023</div>
        <div class="content">
          <div class="content_ttl">
            <a href="#"> Thông Báo Về Việc Di Chuyển Phòng Tài Chính Kế Toán</a>
          </div>
          <div class="content_btn">
            <a class="event-link" href="#">Xem thêm </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="date">thứ ba<br />02/06/2023</div>
        <div class="content">
          <div class="content_ttl">
            <a href="#"> Thông Báo Về Việc Di Chuyển Phòng Tài Chính Kế Toán</a>
          </div>
          <div class="content_btn">
            <a class="event-link" href="#">Xem thêm </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="date">thứ ba<br />02/06/2023</div>
        <div class="content">
          <div class="content_ttl">
            <a href="#"> Thông Báo Về Việc Di Chuyển Phòng Tài Chính Kế Toán</a>
          </div>
          <div class="content_btn">
            <a class="event-link" href="#">Xem thêm </a>
          </div>
        </div>
      </div>

    </div>
    <div class="l-financial-notifyBtn"><a class="btn-view" href="#">Xem chi tiết</a></div>
  </div>
</section>