// ===== Break Point ===== //
@mixin media($media-width) {
	@if $media-width == xs {
		@media only screen and (max-width: $bp-sp - 1px) {
			@content;
		}
	}
	@if $media-width == sp {
		@media only screen and (max-width: $bp-tb - 1px) {
			@content;
		}
	}
	@if $media-width == tb {
		@media only screen and (max-width: $bp-pcOnly - 1px) {
			@content;
		}
	}
	@if $media-width == pc {
		@media print, screen and (min-width: $bp-tb) {
			@content;
		}
	}
	@if $media-width == lpc {
		@media print, screen and (min-width: $bp-lpc) {
			@content;
		}
	}
	@if $media-width == pcOnly {
		@media print, screen and (min-width: $bp-pcOnly) {
			@content;
		}
	}
}
