<footer class="l-footer" data-module="Footer">
	<div class="l-footer__Top">
		<div class="l-inner">
			<div class="l-footer__Top--item">
				<div class="f-title">Trường Đại Học Công Nghiệp Tp. Hồ chí minh</div>
				<ul class="f-contact">
					<li>
						<i class="fas fa-map-marker-alt"></i>Số 12 Nguyễn Văn Bảo, Phường 4, Quận Gò Vấp,
						<br>Thành phố Hồ Chí
						            Minh</li>
					<li>
						<a href="tel:02838940390">
							<i><i class="fa-solid fa-phone"></i></i>0283.8940 390</a>
					</li>
					<li>
						<a href="tel:02839940954">
							<i class="fa-solid fa-fax"></i>0283.9940
								              954</a>
					</li>
					<li>
						<a href="mailto:dhcn@iuh.edu.vn">
							<i class="fas fa-envelope"></i>dhcn@iuh.edu.vn</a>
					</li>
				</ul>
			</div>
			<div class="l-footer__Top--item">
				<div class="f-title">Hoạt Động Khác
					<i class="fas fa-caret-down"></i>
				</div>
				<ul>
					<li><a href="#">Hội thi tay nghề</a></li>
					<li><a href="#">Câu lạc bộ nghiên cứu</a></li>
					<li><a href="#">Sinh viên tình nguyện</a></li>
					<li><a href="#">Cựu sinh viên</a></li>
					<li><a href="#">Kết nối doanh nghiệp</a></li>
				</ul>
			</div>
			<div class="l-footer__Top--item">
				<div class="f-title">Thông Tin Mở Rộng
					<i class="fas fa-caret-down"></i>
				</div>
				<ul>
					<li><a href="#">Báo chí viết về IUH</a></li>
					<li><a href="#">Khám phá IUH</a></li>
					<li><a href="#">Kỹ năng mềm</a></li>
					<li><a href="#">Bộ sưu tập</a></li>
					<li><a href="#">Dịch vụ khách hàng</a></li>
				</ul>
			</div>
			<div class="l-footer__Top--item">
				<div class="f-title">Văn Bản Tiện Ích
					<i class="fas fa-caret-down"></i>
				</div>
				<ul>
					<li><a href="#">Ba công khai</a></li>
					<li><a href="#">Quy chế - Quy định</a></li>
					<li><a href="#">Biểu mẫu đào tạo</a></li>
					<li><a href="#">Quản lý khoa học</a></li>
					<li><a href="#">Phản hồi</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="l-footer__Bot">
		<div class="l-inner">
			<div class="l-footer__Bot--cont">
				<div class="f-logo">
					<a href="/"><img src="assets/images/common/f-logo.png" alt=""></a>
				</div>
				<div class="visits">
					<div class="number-of-visits">
						<i class="fas fa-users"></i>
						Số lượt truy cập :
						<span>2,040,362</span>
					</div>
					<div class="online">
						<i class="fas fa-user"></i>
						Đang online :
						<span>08</span>
					</div>
				</div>
			</div>
			<div class="l-footer__Bot--sns">
				<ul class="icon-sns">
					<li>
						<a class="i-fb" href="#" target="_blank">
							<i class="fab fa-facebook-square"></i>
						</a>
					</li>
					<li>
						<a class="i-ins" href="#" target="_blank">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li>
						<a class="i-twi" href="#" target="_blank">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
				</ul>
				<small class="f-copyright">&copy;Bản quyền 2021 - Trường Đại học Công nghiệp TP. Hồ Chí Minh</small>
			</div>

		</div>
	</div>
</footer>
<div class="support-online">
	<div class="support-content" style="display: none;">
		<a class="call-now" href="tel:0968240896" rel="nofollow">
			<i class="fas fa-mobile-alt" aria-hidden="true"></i>
			<div class="animated infinite zoomIn alo-circle"></div>
			<div class="animated infinite pulse alo-circle-fill"></div>
			<span>Gọi ngay: 0968240896</span>
		</a>
		<a class="mes" href="https://m.me/thanhtungvemaybay">
			<i class="fab fa-facebook-messenger" aria-hidden="true"></i>
			<span>Nhắn tin facebook</span>
		</a>
		<a class="zalo" href="http://zalo.me/0968240896">
			<i class="far fa-comment-dots"></i>
			<span>Zalo: 0968240896</span>
		</a>
	</div>
	<a class="btn-support">
		<i class="far fa-question-circle" aria-hidden="true"></i>
		<div class="animated infinite zoomIn alo-circle"></div>
		<div class="animated infinite pulse alo-circle-fill"></div>
	</a>
</div>
<div class="backtop js-pagetop">
	<i class="fa-regular fa-circle-chevron-up"></i>
</div>
<!-- /.l-footer -->
