<header class="l-header" data-module="Header">
  <div class="l-header__inner">
    <div class="l-header-logo u-onlySP"><a class="l-header-logo__link" href="./"><img src="https://laotama.com/iuh/dashboard/assets/images/icons/logo-white.svg"
          alt=""></a></div>
    <button type="button" class="l-header-menu js-menu-trigger"><span>MENU</span></button>
    <div class="l-header-nav js-menu-target">
      <div class="l-innerTop">
        <div class="l-innerTop__cont l-inner">
          <!-- <div class="l-header-logo u-onlyPC"><a class="l-header-logo__link" href="/"><img
                src="assets/images/common/logo.png" alt="logo"></a></div> -->
          <div class="l-header-nav__inner">
            <ul class="l-header-nav__items">
              <li class="l-header-nav__item">
                <a class="l-header-nav__link" href="./">Trang Chủ</a>
              </li>
              <li class="l-header-nav__item">
                <a class="l-header-nav__link" href="/about.html">Giới Thiệu</a>
              </li>
              <li class="l-header-nav__item">
                <a class="l-header-nav__link" href="/news.html">Tin Tức</a>
              </li>
              <li class="l-header-nav__item">
                <a class="l-header-nav__link" href="/news.html">Thông Báo</a>
              </li>
              <li class="l-header-nav__item">
                <a class="l-header-nav__link" href="/contact.html">Liên Hệ</a>
              </li>
            </ul>
            <div class="l-boxRight">
              <div class="l-registration">
                {# <img class="icon-login" src="assets/images/common/ico_login.png" alt="">
                <div class="l-registration__log">
                  <a href="login.html">Đăng Nhập</a>
                  <span>/</span>
                  <a href="login.html">Đăng Ký</a>
                </div> #}
                <!-- <div class="l-registration__loged">
                  <a>Nguyen Van Anh</a>
                  <div class="l-registration__function">
                    <a href="#"><i class="fas fa-edit"></i> Sửa thông tin</a>
                    <a href="#"><i class="fas fa-edit"></i> Sửa thông tin</a>
                    <a href="#"><i class="fas fa-edit"></i> Sửa thông tin</a>
                    <a href="#"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
                  </div>
                </div> -->

              </div>
              <div class="l-search">
                <div class="l-search_show"><i class="fas fa-search"></i>TÌM KIẾM</div>
                <div class="l-search_hide">
                  <div class="l-search_hide__bg"></div>
                  <div class="search-box">
                    <input class="search-txt" type="text" name="search" placeholder="Type to search">
                    <a class="search-btn" href="#"><i class="fas fa-search"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-innerBottom">
        <div class="l-innerBottom__cont l-inner">
             <div class="l-innerBottom-logo u-onlyPC"><a class="l-header-logo__link" href="/"><img
                src="assets/images/common/logo.png" alt="logo"></a></div>
          <ul class="l-header-nav__items">
            <li class="l-header-nav__item">
              <p class="l-header-nav__link">tra cứu thuế thu nhập</a>
              <i class="fas fa-caret-down"></i>
              <ul class="l-header-nav__itemSub">
                <li><a class="l-header-nav__link" href="about.html">tra cứu công nợ</a></li>
                <li><a class="l-header-nav__link" href="about.html">tra cứu công nợ</a></li>
                <li><a class="l-header-nav__link" href="about.html">tra cứu công nợ</a></li>
              </ul>
            </li>
            <li class="l-header-nav__item">
              <a class="l-header-nav__link js-anker" href="about.html">tra cứu công nợ</a>
            </li>
            <li class="l-header-nav__item">
              <a class="l-header-nav__link js-anker" href="about.html">văn bản-biểu mẫu</a>
            </li>
            <li class="l-header-nav__item">
              <a class="l-header-nav__link js-anker" href="about.html">thông báo</a>
            </li>
          </ul>
          <div class="l-header-nav__lang">
            <a class="l-header-nav__lang-ja js-lang-vn active"><img src="assets/images/common/vi_vn.gif" alt=""></a>
            <a class="l-header-nav__lang-vn js-lang-en"><img src="assets/images/common/en_gb.gif" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="l-header__bg js-menu-bg js-menu-close-trigger"></div>
</header>
<!-- /.l-header -->