.card_news {
  border-radius: px-rem(10);
  overflow: hidden;
  background: #efefef;
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: px-rem(30);
  .card_news_time {
    z-index: 12;
    position: absolute;
    color: $color-main-white;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.2rem 2rem;
    @include media(sp) {
      padding: 2% 3%;
      i,
      span {
        font-size: px-rem(12px);
      }
    }
  }
  &:hover {
    .card_news_image {
      .card_news_time {
        z-index: 1;
      }
      .postTwoGradient {
        height: 100%;
        background: $color-sub-blue;
        opacity: 0.8;
      }
    }

    .card_news_content {
      h4{
        color: $color-main-yellow;
      }
      .card_news_content__button {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  .card_news_image {
    padding-top: 62.5%;
    position: relative;
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      object-position: center;
      top: 50%;
      transform: translateY(-50%);
    }

    .postTwoGradient {
      transition: all 0.5s ease;
      background: $color-main-blue;
      height: 5px;
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 11;
    }

    .card_news_imageColorbar {
      height: 43%;
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 10;
      background: rgba(0, 0, 0, 0.5);
      background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.65) 98%,
        rgba(0, 0, 0, 0.65) 100%
      );
      background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.65) 98%,
        rgba(0, 0, 0, 0.65) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.65) 98%,
        rgba(0, 0, 0, 0.65) 100%
      );
    }
  }

  .card_news_content {
    position: relative;
    padding: px-rem(20) px-rem(20) px-rem(30);
    background: $color-main-white;
    font-size: px-rem(16);
    @include media(sp) {
      font-size: px-rem(14);
      padding: 5% 5% 8%;
    }
    h4 {
      line-height: 1.1;
      z-index: 12;
      font-weight: 800;
      font-size: px-rem(20);
      margin: px-rem(10) 0 px-rem(15);
      width: 100%;
      @include media(sp) {
        font-size: px-rem(18);
        margin: 0 0 2%;
      }
    }
   

    .card_news_content__button {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
      line-height: unset;
      opacity: 0;
      transition: all 0.5s ease;
      transform: translateY(100%);

      a {
        font-size: px-rem(16);
        color: $color-main-white;
        background: $color-main-blue;
        display: block;
        padding: px-rem(10) px-rem(15);
        text-decoration: none;
        border-radius: 7.5px 0 0 0;
        font-weight: bold;
        
      }
      @include media(sp) {
        display: none;
      }
    }
  }
}

.news_involve {
  position: relative;
  margin-bottom: px-rem(50);
  h2 {
    margin-bottom: px-rem(30);
  }
  .container {
    position: relative;
  }
  .slick-slide {
    margin-right: 10px;
  }

  .slider__arrows {
    display: flex;
    align-items: center;

    @include media(sp) {
      justify-content: center;
      margin-top: px-rem(30);
    }

    .arrow-icon {
      width: px-rem(18);
      height: px-rem(35);
      cursor: pointer;

      @include media(pcOnly) {
        &:hover {
          i {
            color: #333399;
          }
        }
      }

      i {
        color: #000;
        font-size: px-rem(30);
      }
    }

    .arrow--prev02 {
      position: absolute;
      top: 45%;
      left: px-rem(-30);
      transform: translateY(-50%);

      @media screen and (max-width: 1200px) {
        left: px-rem(-20);
      }

      @include media(tb) {
        left: px-rem(-30);
        top: 50%;
        margin-top: px-rem(-15);
      }
    }

    .arrow--next02 {
      position: absolute;
      top: 45%;
      right: px-rem(-30);
      transform: translateY(-50%);

      @media screen and (max-width: 1260px) {
        right: px-rem(-20);
      }

      @include media(tb) {
        right: px-rem(-30);
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
