.l-search_hide{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
  &__bg{
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &.show{
    display: block;
  }
}

.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $color-main-blue;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  &.active{
    width: 30%;
    @include media(sp){
      width: 90%;
    }
    .search-txt {
      width: 100%;
      padding: 0 6px;
    }
    .search-btn {
      background-color: $color-main-white;
      color: $color-main-blue;
    }
  }
 

  a {
    text-decoration: none;
  }
  .search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: $color-main-white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
  }
  .search-btn {
    flex-shrink: 0;
    color: $color-main-white;
    width: px-rem(40);
    height: px-rem(40);
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    i{
      margin: 0 !important;
    }
  }
  
}



