.l-financial-notify {
  background: url(../images/financial/notify.jpg) no-repeat top center/cover;
  padding: px-rem(60) 0;
  color: $color-main-white;

  h2 {
    color: $color-main-yellow
  }

  .l-financial-notifyBtn {
    margin-top: px-rem(40px);

    @include media(pc) {
      max-width: 250px;
    }

    a {
      border: 1px solid white;
      background: transparent;
      font-weight: 500;

      &:hover {
        border-color: transparent;
      }
    }

    @include media(sp) {
      margin-top: 8%;
    }
  }

  .fNnotifyItems {
    margin-top: px-rem(30);
    max-width: 75%;
    row-gap: px-rem(30px);
    display: flex;
    flex-wrap: wrap;

    @include media(sp) {
      max-width: 100%;
      row-gap: px-rem(15px);
    }

    .item {
      display: flex;
      width: calc(100% / 2 - 10px);
      gap: px-rem(15);
      transition: all 0.3s ease;

      @include media(sp) {
        width: 100%;
        row-gap: px-rem(15px);
      }

      .date {
        flex-shrink: 0;
        width: px-rem(100px);
        height: px-rem(100px);
        text-align: center;
        text-transform: uppercase;
        background: $color-main-white;
        color: $color-main-blue;
        font-weight: 500;
        border-radius: px-rem(10px);
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 2;
        font-size: px-rem(16);
        transition: all 0.3s ease;

        @include media(sp) {
          padding: 1%;
          line-height: 1.6;
          font-size: px-rem(14);
          width: px-rem(80px);
          height: px-rem(80px);
        }
      }

      .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: px-rem(10) 0;
        transition: all 0.3s ease;

        .content_ttl {
          font-size: px-rem(20px);
          line-height: 1.1;
          transition: all 0.3s ease;

          @include media(sp) {
            font-size: px-rem(16px);
          }
        }

        .content_btn {
          display: flex;

        }

      }

      &:hover {
        .date {
          background: $color-main-yellow;
          color: $color-main-white;
        }
        .content {
          .content_ttl {
            color: $color-main-yellow;
          }
        }
      }
    }
  }
}