<div class="l-alumniProfile js-animate" id="alumniProfile" data-module="AlumniProfile">
  <div class="l-inner ">
    <h2 class="element-title">
      <span class="element-title__small">Sinh Viên Của Trường IUH</span>
      HỒ SƠ CỰU SINH VIÊN
    </h2>
    <div class="l-alumniProfile__list">
      <div class="js-slider03" >
        <div class="alumniProfile-box">
          <div class="icon-quote"><i class="fas fa-quote-right"></i></div>
          <div class="alumniProfile-info">
            <div class="alumniProfile-img">
              <img src="assets/images/top/file-img01.png" alt="TRẦN THỊ ÁNH TUYẾT">
            </div>
            <div class="alumniProfile-inner">
              <div class="alumniProfile-ttl">TRẦN THỊ ÁNH TUYẾT</div>
              <div class="alumniProfile-position">Giám Đốc EVOO</div>
            </div>
          </div>
          <div class="alumniProfile-txt">
            <p>Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip comdo sed conseqa irure dolorn
              reprehenderit voluptate velit excepteur sint occaecats aliquip ex ea commodo consequat. Duis aute irure
              dolor in reprehenderit in voluptate velit esse</p>
          </div>
        </div>
        <div class="alumniProfile-box">
          <div class="icon-quote"><i class="fas fa-quote-right"></i></div>
          <div class="alumniProfile-info">
            <div class="alumniProfile-img">
              <img src="assets/images/top/file-img02.png" alt="ĐÀO XUÂN LỘC">
            </div>
            <div class="alumniProfile-inner">
              <div class="alumniProfile-ttl">ĐÀO XUÂN LỘC</div>
              <div class="alumniProfile-position">CEO Hòa Phát</div>
            </div>
          </div>
          <div class="alumniProfile-txt">
            <p>Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip comdo sed conseqa irure dolorn
              reprehenderit voluptate velit excepteur sint occaecats aliquip ex ea commodo consequat. Duis aute irure
              dolor in reprehenderit in voluptate velit esse</p>
          </div>
        </div>
        <div class="alumniProfile-box">
          <div class="icon-quote"><i class="fas fa-quote-right"></i></div>
          <div class="alumniProfile-info">
            <div class="alumniProfile-img">
              <img src="assets/images/top/file-img01.png" alt="TRẦN THỊ ÁNH TUYẾT">
            </div>
            <div class="alumniProfile-inner">
              <div class="alumniProfile-ttl">TRẦN THỊ ÁNH TUYẾT</div>
              <div class="alumniProfile-position">Giám Đốc EVOO</div>
            </div>
          </div>
          <div class="alumniProfile-txt">
            <p>Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip comdo sed conseqa irure dolorn
              reprehenderit voluptate velit excepteur sint occaecats aliquip ex ea commodo consequat. Duis aute irure
              dolor in reprehenderit in voluptate velit esse</p>
          </div>
        </div>
        <div class="alumniProfile-box">
          <div class="icon-quote"><i class="fas fa-quote-right"></i></div>
          <div class="alumniProfile-info">
            <div class="alumniProfile-img">
              <img src="assets/images/top/file-img02.png" alt="ĐÀO XUÂN LỘC">
            </div>
            <div class="alumniProfile-inner">
              <div class="alumniProfile-ttl">ĐÀO XUÂN LỘC</div>
              <div class="alumniProfile-position">CEO Hòa Phát</div>
            </div>
          </div>
          <div class="alumniProfile-txt">
            <p>Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip comdo sed conseqa irure dolorn
              reprehenderit voluptate velit excepteur sint occaecats aliquip ex ea commodo consequat. Duis aute irure
              dolor in reprehenderit in voluptate velit esse</p>
          </div>
        </div>
      </div>
      <div class="slider__arrows">
        <div class="arrow-icon arrow--prev03"><i class="fas fa-angle-left"></i></div>
        <div class="arrow-icon arrow--next03"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>
    <div class="l-alumniProfile__intro">
      <div class="intro-box">
        <div class="intro-box__img">
          <img src="assets/images/top/intro-img01.png" alt="Năm kinh nghiệm">
        </div>
        <div class="intro-box__inner">
          <p class="num"><label class="counter" data-number="100"></label><span>+</span></p>
          <p class="title">Năm kinh nghiệm</p>
        </div>
      </div>
      <div class="intro-box">
        <div class="intro-box__img">
          <img src="assets/images/top/intro-img02.png" alt="Sinh viên tốt nghiệp">
        </div>
        <div class="intro-box__inner">
          <p class="num"><label class="counter" data-number="200000"></label><span>+</span></p>
          <p class="title">Sinh viên tốt nghiệp</p>
        </div>
      </div>
      <div class="intro-box">
        <div class="intro-box__img">
          <img src="assets/images/top/intro-img03.png" alt="Giảng viên">
        </div>
        <div class="intro-box__inner">
          <p class="num "><label class="counter" data-number="300"></label><span>+</span></p>
          <p class="title">Giảng viên</p>
        </div>
      </div>
      <div class="intro-box">
        <div class="intro-box__img">
          <img src="assets/images/top/intro-img04.png" alt="Lĩnh vực">
        </div>
        <div class="intro-box__inner">
          <p class="num"><label class="counter" data-number="30"></label><span>+</span></p>
          <p class="title">Lĩnh vực</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ./l-alumniProfile  -->