<div class="iuh__breadcrumb ">
  <div class="l-inner ">
    <ul>
      <li class="u-onlyPC ">
        <a href="#">Home</a>
      </li>
      <li class="u-onlyPC ">
        <i class="fas fa-angle-right"></i>
        <a href="#">Landing pages level 1</a>
      </li>
      <li class="u-onlyPC ">
        <i class="fas fa-angle-right"></i>
        <a href="#">Landing pages level 2</a>
      </li>
      <li class="active">
        <i class="fas fa-angle-right"></i>
        <span>current actived page</span>
      </li>
    </ul>
  </div>
</div>