<div class="card_news">
	<a href="detail-news.html">
		<div class="card_news_image">
			<img alt="Logo_IUH" src="assets/images/news/image1.jpeg">
			<div class="card_news_time">
				<i class="fa-solid fa-clock"></i>
				<span>April 25, 2021</span>
			</div>
			<div class="postTwoGradient"></div>
			<div class="card_news_imageColorbar"></div>
		</div>
	</a>
	<div class="card_news_content">
		<h4><a href="detail-news.html">Undergraduate Programs</a></h4>
		<p>Explore a range of majors and minors with nearly limitless opportunities to launch your career.</p>
		<div class="card_news_content__button">
			<a href="detail-news.html">Xem Thêm</a>
		</div>
	</div>
</div>
