{# <div class="l-event js-animate" id="event">
  <div class="l-inner">
    <div class="l-event__boxTxt ">
      <h2 class="element-title">
        <span class="element-title__small">Những Sự Kiện Nổi Bật Sắp Diễn Ra Tại IUH</span>
        SỰ KIỆN NỔI BẬT
      </h2>
      <div class="txt">
        <i class="fas fa-quote-left"></i>Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip comdo sed
        conseqa irure dolorn reprehenderit voluptate velit excepteur sint occaecats aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse
      </div>
      <div class="slider__arrows u-onlyPC">
        <div class="arrow-icon arrow--prev">
          <i class="fas fa-angle-left"></i>
        </div>
        <div class="arrow-icon arrow--next">
          <i class="fas fa-angle-right"></i>
        </div>
        <a class="event-link" href="">XEM CHI TIẾT</a>
      </div>
    </div>
    <div class="l-event__boxSlider">
      <div class="js-slider" data-module="EventSlick">
        <div class="alumni-box">
          <div class="alumni-img"><img src="assets/images/common/female.png" alt="TRẦN THỊ DIỄM MY"></div>
          <div class="alumni-ttl">TRẦN THỊ DIỄM MY</div>
          <div class="alumni-ttls">Cựu Sinh Viên</div>
          <ul class="alumni-sns">
            <li>
              <a class="i-fb" href="#" target="_blank">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a class="i-ins" href="#" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="i-twi" href="#" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="alumni-box">
          <div class="alumni-img"><img src="assets/images/top/alumni-img02.png" alt="NGUYỄN THANH TÙNG"></div>
          <div class="alumni-ttl">NGUYỄN THANH TÙNG</div>
          <div class="alumni-ttls">Cựu Sinh Viên</div>
          <ul class="alumni-sns">
            <li>
              <a class="i-fb" href="#" target="_blank">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a class="i-ins" href="#" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="i-twi" href="#" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="alumni-box">
          <div class="alumni-img"><img src="assets/images/top/alumni-img01.png" alt="TRẦN THỊ DIỄM MY"></div>
          <div class="alumni-ttl">TRẦN THỊ DIỄM MY</div>
          <div class="alumni-ttls">Cựu Sinh Viên</div>
          <ul class="alumni-sns">
            <li>
              <a class="i-fb" href="#" target="_blank">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a class="i-ins" href="#" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="i-twi" href="#" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="alumni-box">
          <div class="alumni-img"><img src="assets/images/top/alumni-img02.png" alt="NGUYỄN THANH TÙNG"></div>
          <div class="alumni-ttl">NGUYỄN THANH TÙNG</div>
          <div class="alumni-ttls">Cựu Sinh Viên</div>
          <ul class="alumni-sns">
            <li>
              <a class="i-fb" href="#" target="_blank">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a class="i-ins" href="#" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="i-twi" href="#" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="slider__arrows u-onlySP">
      <div class="arrow-icon arrow--prev">
        <i class="fas fa-angle-left"></i>
      </div>
      <div class="arrow-icon arrow--next">
        <i class="fas fa-angle-right"></i>
      </div>
      <a class="event-link" href="">XEM CHI TIẾT</a>
    </div>
  </div>
</div> #}

<div class="l-event js-animate" id="event">
  <div class="l-inner">
    <div class="l-event__boxSlider">
      <div class="js-slider" data-module="EventSlick">
        <div class="l-event__item">

          <div class="l-event__item_content">
            <div class="left">
              <h2 class="element-title">
                <span class="element-title__small">Sự Kiện Sắp Diễn Ra Tại IUHer</span>
                Tự do tài chính cá nhân
              </h2>
              <div class="txt">
                <i class="fas fa-quote-left"></i>Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip comdo
                sed conseqa irure dolorn reprehenderit voluptate velit excepteur sint occaecats aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse velit excepteur sint occaecats aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              </div>
              <div class="slider__arrows u-onlyPC">
                <div class="arrow-icon arrow--prev">
                  <i class="fas fa-angle-left"></i>
                </div>
                <div class="arrow-icon arrow--next">
                  <i class="fas fa-angle-right"></i>
                </div>
                <a class="event-link" href="">XEM CHI TIẾT</a>
              </div>
            </div>
            <div class="right">
              <div class="photo"><img src="assets/images/top/about.jpg" alt="TRẦN THỊ DIỄM MY"></div>
            </div>
          </div>
          <div class="slider__arrows u-onlySP">
            <div class="arrow-icon arrow--prev">
              <i class="fas fa-angle-left"></i>
            </div>
            <div class="arrow-icon arrow--next">
              <i class="fas fa-angle-right"></i>
            </div>
            <a class="event-link" href="">XEM CHI TIẾT</a>
          </div>
        </div>
        <div class="l-event__item">

          <div class="l-event__item_content">
            <div class="left">
              <h2 class="element-title">
                <span class="element-title__small">Sự Kiện Sắp Diễn Ra Tại IUHer</span>
                LỄ KHAI GIẢNG NĂM HỌC 2022
              </h2>
              <div class="txt">
                <i class="fas fa-quote-left"></i>Veniam quis nostrud exercitation ullamco laboris nisi ut aliquip comdo
                sed conseqa irure dolorn reprehenderit voluptate velit excepteur sint occaecats aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse velit excepteur sint occaecats aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              </div>
              <div class="slider__arrows u-onlyPC">
                <div class="arrow-icon arrow--prev">
                  <i class="fas fa-angle-left"></i>
                </div>
                <div class="arrow-icon arrow--next">
                  <i class="fas fa-angle-right"></i>
                </div>
                <a class="event-link" href="">XEM CHI TIẾT</a>
              </div>
            </div>
            <div class="right">
              <div class="photo"><img src="assets/images/top/about.jpg" alt="TRẦN THỊ DIỄM MY"></div>
            </div>
          </div>
          <div class="slider__arrows u-onlySP">
            <div class="arrow-icon arrow--prev">
              <i class="fas fa-angle-left"></i>
            </div>
            <div class="arrow-icon arrow--next">
              <i class="fas fa-angle-right"></i>
            </div>
            <a class="event-link" href="">XEM CHI TIẾT</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>