<div class="news_involve">
  <div class="container">
    <h2 class="element-title">Bài viết liên quan</h2>
    <div class="js-news_involve" data-module="NewsInvolve" >
      {% include './_Card_News.twig' %}
      {% include './_Card_News.twig' %}
      {% include './_Card_News.twig' %}
      {% include './_Card_News.twig' %}
      {% include './_Card_News.twig' %}
    </div>
    <div class="slider__arrows">
      <div class="arrow-icon arrow--prev02 slick-arrow" style=""><i class="fas fa-angle-left"></i></div>
      <div class="arrow-icon arrow--next02 slick-arrow" style=""><i class="fas fa-angle-right"></i></div>
    </div>
  </div>
</div>