<div class="NewsHighline">
  <h2 class="element-title">
    <span class="element-title__small">BÀI VIẾT NỔI BẬT</span>
  </h2>
  <div class="NewsHighline-blogs">

    <article class="NewsHighline-item NewsHighline-item-list">
      <h3 class="NewsHighline-item-name">
        <a href="#" title="Đại dự án nhà máy nước 5.000 tỷ đồng: Chủ đầu tư trần tình nguyên nhân đầu tư đắt đỏ"><i
            class="fa-solid fa-newspaper"></i> Đại
          dự án nhà máy
          nước 5.000 tỷ đồng: Chủ đầu tư trần tình nguyên nhân đầu tư đắt đỏ</a>
      </h3>
    </article>
    <article class="NewsHighline-item NewsHighline-item-list">
      <h3 class="NewsHighline-item-name">
        <a href="#" title="Đại dự án nhà máy nước 5.000 tỷ đồng: Chủ đầu tư trần tình nguyên nhân đầu tư đắt đỏ"><i
            class="fa-solid fa-newspaper"></i> Đại
          dự án nhà máy
          nước 5.000 tỷ đồng: Chủ đầu tư trần tình nguyên nhân đầu tư đắt đỏ</a>
      </h3>
    </article>
    <article class="NewsHighline-item NewsHighline-item-list">
      <h3 class="NewsHighline-item-name">
        <a href="#" title="Đại dự án nhà máy nước 5.000 tỷ đồng: Chủ đầu tư trần tình nguyên nhân đầu tư đắt đỏ"><i
            class="fa-solid fa-newspaper"></i> Đại
          dự án nhà máy
          nước 5.000 tỷ đồng: Chủ đầu tư trần tình nguyên nhân đầu tư đắt đỏ</a>
      </h3>
    </article>
    <article class="NewsHighline-item NewsHighline-item-list">
      <h3 class="NewsHighline-item-name">
        <a href="#" title="Đại dự án nhà máy nước 5.000 tỷ đồng: Chủ đầu tư trần tình nguyên nhân đầu tư đắt đỏ"><i
            class="fa-solid fa-newspaper"></i> Đại
          dự án nhà máy
          nước 5.000 tỷ đồng: Chủ đầu tư trần tình nguyên nhân đầu tư đắt đỏ</a>
      </h3>
    </article>
    <article class="NewsHighline-item NewsHighline-item-list">
      <h3 class="NewsHighline-item-name">
        <a href="#" title="Đại dự án nhà máy nước 5.000 tỷ đồng: Chủ đầu tư trần tình nguyên nhân đầu tư đắt đỏ"><i
            class="fa-solid fa-newspaper"></i> Đại
          dự án nhà máy
          nước 5.000 tỷ đồng: Chủ đầu tư trần tình nguyên nhân đầu tư đắt đỏ</a>
      </h3>
    </article>
  </div>
</div>