<div class="l-mv" data-module="SwiperFull">
  <div class="l-mv__cont">
    <div class="swiper swiper_slidefull">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="assets/images/top/mv-img.jpg" alt="Slider 1" /></div>
        <div class="swiper-slide"><img src="assets/images/top/mv-img.jpg" alt="Slider 1" /></div>
        <div class="swiper-slide"><img src="assets/images/top/mv-img.jpg" alt="Slider 1" /></div>
        <div class="swiper-slide"><img src="assets/images/top/mv-img.jpg" alt="Slider 1" /></div>
      </div>
      
    </div>
    {# <div class="swiper-pagination"></div> #}
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="l-mv__cont--ttl"><img src="assets/images/top/mv-ttl.png"
        alt="Trường Đại Học Công Nghiệp Tp. Hồ Chí Minh"></div>
    {# <div class="btn-play"><img src="assets/images/top/btn-play.png" alt=""></div> #}
  </div>
</div>