<nav class="pagination pagination-blue">
  <a class="page-item" href="#" aria-label="Previous">
    <span aria-hidden="true">&laquo;</span>
  </a>
  <a class="page-item active" href="#">1</a>
  <a class="page-item" href="#">2</a>
  <a class="page-item" href="#">3</a>
  <a class="page-item" href="#">4</a>
  <a class="page-item" href="#">5</a>
  <a class="page-item" href="#" aria-label="Next">
    <span aria-hidden="true">&raquo;</span>
  </a>
</nav>