<div class="l-partner js-animate" data-module="PartnerSlick">
  <div class="l-inner">
    <h2 class="element-title">
      <span class="element-title__small">Nhà Tài Trợ Và Đối Tác</span>
      đối tác & nhà tài trợ
    </h2>
    <div class="box-slide">
      <ul class="l-partner__list js-slider04">
        <li><a href="#">
            <img src="assets/images/top/partner-img01.png" alt="Cocacola">
          </a></li>
        <li><a href="#">
            <img src="assets/images/top/partner-img02.png" alt="Sunsilk">
          </a></li>
        <li><a href="#">
            <img src="assets/images/top/partner-img03.png" alt="Hòa Phát">
          </a></li>
        <li><a href="#">
            <img src="assets/images/top/partner-img04.png" alt="Cocacola">
          </a></li>
        <li><a href="#">
            <img src="assets/images/top/partner-img05.png" alt="Sunway University">
          </a></li>
        <li><a href="#">
            <img src="assets/images/top/partner-img06.png" alt="FPT">
          </a></li>
        <li><a href="#">
            <img src="assets/images/top/partner-img07.png" alt="Sunway University">
          </a></li>
        <li><a href="#">
            <img src="assets/images/top/partner-img08.png" alt="Grab">
          </a></li>
        <li><a href="#">
            <img src="assets/images/top/partner-img09.png" alt="Viettel">
          </a></li>
      </ul>
      <div class="slider__arrows u-onlySP">
        <div class="arrow-icon arrow--prev04"><i class="fas fa-angle-left"></i></div>
        <div class="arrow-icon arrow--next04"><i class="fas fa-angle-right"></i></div>
      </div>
    </div>
  </div>
</div>