{% extends "./_templates/layout.twig" %}

{# If rename this file, rename in gulp 'html' task as well #}
{% block page %}

<div class="iuh-content-page">
  <div class="container">
    <h1 class="element-title element-title_content">
      Giới thiệu Trường Đại học Công nghiệp Thành phố Hồ Chí Minh
    </h1>
    <div class="divNewsDetail">
      <p>- Tên chính thức:
        <strong>
          <span style="color:#000080;">Trường Đại học Công nghiệp thành phố Hồ Chí Minh</span>
        </strong><br>
        - Tên tiếng Anh:
        <span style="color:#000080;">
          <strong>Industrial University of Ho Chi Minh City</strong>
        </span><br>
        - Tên viết tắt:<strong>
          <span style="color:#000080;">IUH</span>
        </strong><br>
        - Logo:
      </p>

      <div style="text-align: center;"><img alt="Logo_IUH" src="assets/images/common/logo.png"></div>

      <div style="text-align: justify;"><br>
        Tiền thân của Trường Đại học Công nghiệp thành phố Hồ Chí Minh là Trường Huấn nghiệp Gò Vấp do các tu sĩ
        dòng Don Bosco thành lập 11/11/1956 tại xã Hạnh Thông, Quận Gò Vấp, Tỉnh Gia Định. Năm 1968, Trường được đổi
        tên thành Trường tư thục Trung học Kỹ thuật đệ nhất cấp Don Bosco. Đến ngày 31/01/1970, Trường được cải biên
        thành Trường tư thục Trung học Kỹ thuật đệ nhị cấp Don Bosco, được gọi tắt là Trường Trung học Kỹ thuật Don
        Bosco. Sau ngày hòa bình, thống nhất đất nước, quân giải phóng miền Nam tiếp quản và ngày 19/12/1975 Trường
        được bàn giao cho Tổng cục Cơ khí Luyện kim và Điện tử. Năm 1978, Trường được đổi tên thành Trường Công nhân
        Kỹ thuật IV trực thuộc Bộ Cơ khí và Luyện kim. Đến năm 1994, Trường hợp nhất với Trường Trung học Hóa chất
        II tại thành phố Biên Hòa thành Trường Trung học Kỹ thuật Công nghiệp IV, trực thuộc Bộ Công Nghiệp. Tháng 3
        năm 1999, Trường được nâng cấp thành Trường Cao đẳng Công nghiệp IV và tháng 12 năm 2004, Trường được nâng
        cấp thành Trường Đại học Công nghiệp thành phố Hồ Chí Minh theo quyết định số 214/2004/QĐ - TTg của Thủ
        tướng Chính phủ và Trường được Thủ tưởng Chính phủ phê duyệt thí điểm đổi mới cơ chế hoạt động giai đoạn
        2015-2017 theo quyết định số 902/QĐ-TTg ngày 23 tháng 6 năm 2015, bắt đầu thực hiện từ năm học 2015 - 2016.
        Trường Đại học Công nghiệp thành phố Hồ Chí Minh là một trong những cơ sở giáo dục đại học lớn tại Việt
        Nam.<br>
        Trường có các phân hiệu và cơ sở đào tạo:
      </div>
      <div>
        <br>
        <strong>
          <span style="color:#000080;">Cơ sở chính (TP.HCM):</span>
        </strong><br>
        - Địa chỉ: 12 Nguyễn Văn Bảo, P.4, Q. Gò Vấp, TP.HCM<br>
        - Điện thoại: (028) 38940390 Fax: (028) 38946268<br>
        - Website:
        <a href="http://www.iuh.edu.vn" target="_blank">www.iuh.edu.vn</a><br>
        - Email:
      </div>
      <ul style="margin-left: 40px;">
        <li style="text-align: justify;">Trường Đại học Công nghiệp thành phố Hồ Chí Minh:&nbsp;<a
            href="mailto:dhcn@iuh.edu.vn">dhcn@iuh.edu.vn</a>
        </li>
        <li style="text-align: justify;">Phòng Tổ chức - Hành chính:
          <a href="mailto:ptchc@iuh.edu.vn">ptchc@iuh.edu.vn</a>
        </li>
        <li style="text-align: justify;">Phòng Tài chính - Kế toán:
          <a href="mailto:ptckt@iuh.edu.vn">ptckt@iuh.edu.vn</a>
        </li>
        <li style="text-align: justify;">Phòng Đào tạo:
          <a href="mailto:phongdaotao@iuh.edu.vn">phongdaotao@iuh.edu.vn</a>
        </li>
        <li style="text-align: justify;">Bộ phận Tuyển sinh:
          <a href="mailto:tuyensinh@iuh.edu.vn">tuyensinh@iuh.edu.vn</a>
        </li>
      </ul>

      <div style="text-align: justify;"><br>
        <span style="color:#000080;">
          <strong>Phân hiệu Quảng Ngãi:</strong>
        </span><br>
        - Địa chỉ: 938 Quang Trung, TP. Quảng Ngãi<br>
        - Điện thoại:(0255) 3250075, (0255) 3713858 - Fax: (0255) 3713858<br>
        - Website:
        <a href="http://www.qn.iuh.edu.vn" target="_blank">http://www.qn.iuh.edu.vn</a>
        <div>
          <br>
          <span style="color:#000080;">
            <strong>Cơ sở Thanh Hóa:</strong>
          </span><br>
          - Địa chỉ: Xã Quảng Tâm, TP. Thanh Hóa, Tỉnh Thanh Hóa<br>
          - Điện thoại: (0237) 3675092 - Fax: (0237) 3675350<br>
          - Website:
          <a href="http://www.th.iuh.edu.vn" target="_blank">http://www.th.iuh.edu.vn</a>
        </div><br>
        Bên cạnh việc chú trọng nâng cao chất lượng chuyên môn của đội ngũ cán bộ - giảng viên, đầu tư trang thiết
        bị tốt nhất cho giảng dạy, học tập và nghiên cứu khoa học, Nhà trường còn quan tâm tới việc cung cấp các
        dịch vụ đào tạo có chất lượng cao cho hàng chục ngàn sinh viên từ khắp mọi miền trong cả nước. Sinh viên của
        Trường được trang bị năng lực ngoại ngữ và tin học cũng như các kiến thức bổ trợ: kỹ năng giao tiếp, ứng xử,
        kỹ năng làm chủ bản thân, kỹ năng quản lý thời gian, kỹ năng làm việc nhóm, phương pháp tự học, phương pháp
        nghiên cứu khoa học... Nhờ vào mối quan hệ gắn kết giữa Nhà trường và doanh nghiệp, sinh viên luôn có cơ hội
        thực hành tại các cơ sở sản xuất, kinh doanh, dịch vụ, đặc biệt tại các công ty, xí nghiệp có vốn đầu tư
        nước ngoài để tận mắt chứng kiến các công nghệ mới được ứng dụng trong sản xuất nhằm rèn luyện các kỹ năng
        thực tiễn và năng lực làm việc trong môi trường hiện đại.<br>
        &nbsp;
        <div style="text-align: right;">
          <em>
            <strong>Trường Đại học Công nghiệp Thành phố Hồ Chí Minh</strong>
          </em><br>
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}