{% extends "./_templates/layout.twig" %}

{# If rename this file, rename in gulp 'html' task as well #}
{% block page %}

	<div class="iuh-content-page">
		<div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-9">
        	<h1 class="element-title element-title_content">
				Tầm nhìn - Sứ mạng - Mục tiêu chiến lược
			</h1>
			<div class="divNewsDetail">
				<div style="text-align: center;"><img alt="Logo_IUH" src="https://iuh.edu.vn/Resource/Upload2/Image/logo_icon/Logo_IUH_small_color.jpg"><br>
					&nbsp;</div>

				<div style="text-align: justify;">
					<p>Trường Đại học Công nghiệp TP. Hồ Chí Minh là cơ sở giáo dục đại học được Thủ tướng Chính phủ phê duyệt thực hiện thí điểm đổi mới cơ chế hoạt động giai đoạn 2015 - 2017 theo quyết định số 902/QĐ-TTg ngày 23 tháng 6 năm 2015, bắt đầu thực hiện từ năm học 2015 - 2016. Phát biểu triết lý giáo dục của Nhà trường: "<em>Chất lượng, phát triển bền vững, hội nhập quốc tế</em>".</p>

					<p>Để đáp ứng yêu cầu của sự nghiệp đổi mới, tập thể lãnh đạo Nhà trường đã nắm bắt thời cơ, xác định Tầm nhìn - Sứ mạng - Mục tiêu từ nay đến 2020, tầm nhìn đến 2025 với phương châm: “<em>Đổi mới, nâng tầm cao mới - Năng động, hội nhập toàn cầu</em>”.</p>

					<p>
						<strong>1. Tầm nhìn</strong>
					</p>

					<p>Trở thành trường đại học trọng điểm&nbsp;quốc gia có vai trò tiên phong đối với sự phát triển của các trường thuộc Bộ Công Thương, nằm trong nhóm 10 trường đại học hàng đầu của Việt Nam theo định hướng ứng dụng, ngang tầm với các nước tiên tiến trong khu vực về đào tạo nhân lực chất lượng cao.</p>

					<p>
						<strong>2. Sứ mạng</strong>
					</p>

					<p>Cung cấp nguồn nhân lực có trình độ chuyên môn cao, có kỹ năng nghề nghiệp tiếp cận với thực tiễn trong các lĩnh vực kỹ thuật, công nghệ, nghiên cứu khoa học và chuyển giao công nghệ nhằm tạo ra giá trị vật chất và tinh thần phục vụ cho sự phát triển kinh tế - xã hội của ngành Công Thương và của đất nước một cách có hiệu quả.</p>

					<p>
						<strong>3. Mục tiêu chiến lược</strong>
					</p>

					<p>Xây dựng công nghệ quản lý hiện đại, hoàn thành cơ bản các điều kiện đáp ứng yêu cầu đào tạo nguồn nhân lực chất lượng cao đóng góp cho xã hội, tạo ra giá trị thực tiễn và hiệu quả từ hoạt động nghiên cứu khoa học và chuyển giao công nghệ, hợp tác quốc tế.</p>

					<p style="text-align: right;">
						<em>
							<strong>Trường Đại học Công nghiệp Thành phố Hồ Chí Minh</strong>
						</em>
					</p>
				</div>
			</div>
        </div>
        <div class="col-sm-12 col-lg-3 ">
          {% include './_templates/components/_NewsHighline.twig' %}
        </div>
      </div>
		
		</div>
      {% include './_templates/components/_Partner.twig' %}
	</div>


  
  
{% endblock %}
